:root {
    --opal: #9ac1b9;
    --dark-green: #0c1713;
    --gunmetal: #022b3b;
    --rose-ebony: #644045;
    --blush: #d58593;
    --salmon: #f8a88b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    color: var(--dark-green);
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

/* HEADER AND NAVIGATION BAR SYLES START */

header {
    padding: 20px 35px;
    background-color: var(--blush);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("/Users/courtneykoehler/Desktop/challenge2/images/hero-pic.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 40px;
    color: var(--dark-green);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--dark-green);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--opal);
    color: var(--dark-green);
    border-radius: 15px;
    text-shadow: none;
}

/* HEADER AND NAVIGATION STYLES END */

/* FOOTER STYLES START */

footer {
    background: var(--blush);
    padding: 20px 15px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

footer h3 {
    color: var(--gunmetal);
    font-size: 24px;
    margin: 0;
}

/* FOOTER STYLES END */

/* STYLE FOR ALL SECTION TAGS */

/*section {
    padding: 60px;
}

/* HERO STYLES START */

.hero {
    background-image: url('/Users/courtneykoehler/Desktop/challenge2/images/hero-pic.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

.hero h2 {
    text-align: left;
    align-items: right;
    margin: 3.5%;
    color: var(--dark-green);
    font-size: 18px;
    line-height: 1.2;
}

/* HERO STYLES END */
.content {
    display: flex;
}
/* ABOUT ME SYLES START */

.me-section {
    margin: 120px auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-box {
    border-right: 3px solid;
    border-color: #022b3b;
    padding: 60px 30px 60px 0;
}

.me-header {
    color: #9ac1b9;
    font-size: 30px;
    width: 80%;
}

.right-box {
    padding-left: 60px;
}

.right-box p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 24px;
    line-height: 1.5;
    color: var(--rose-ebony);
}

/* ABOUT ME STYLES END */

/* WORK STYLES START */

.work-section {
    margin: 120px auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work-header {
    color: #9ac1b9;
    font-size: 30px;
    padding-right: 10px;
}

.right-box2 {
    padding-left: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 24px;
    line-height: 1.5;
    color: var(--rose-ebony);
}

.work-project1 {
    background-image: url('/Users/courtneykoehler/Desktop/challenge2/images/hero-bg-copy.jpg');
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 5px solid var(--blush);
    margin: 10px;
    padding: 250px 0 0 400px;
    text-align: right;
}

.project-box h4 {
    font-size: 14px;
    color: var(--gunmetal);
}

.project-box h3 {
    font-size: 14px;
    color: var(--gunmetal);
}

.project-box a {
    text-decoration: none;
    color: var(--gunmetal);
    font-size: 14px;
}

.project-box a:hover {
    background: var(--opal);
    color: var(--dark-green);
    border-radius: 10px;
    text-shadow: none;
}

.work-project2 {
    background-image: url('/Users/courtneykoehler/Desktop/challenge2/images/coming_soon.jpg');
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 5px solid var(--blush);
    margin: 10px;
    padding: 150px 0 0 250px;
    text-align: right;
}

.work-project3 {
    background-image: url('/Users/courtneykoehler/Desktop/challenge2/images/coming_soon.jpg');
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 5px solid var(--blush);
    margin: 10px;
    padding: 150px 0 0 175px;
    text-align: right;
}

.work-project4 {
    background-image: url('/Users/courtneykoehler/Desktop/challenge2/images/coming_soon.jpg');
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 5px solid var(--blush);
    margin: 10px;
    padding: 150px 0 0 233px;
    text-align: right;
}

.work-project5 {
    background-image: url('/Users/courtneykoehler/Desktop/challenge2/images/coming_soon.jpg');
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 5px solid var(--blush);
    margin: 10px;
    padding: 150px 0 0 227px;
    text-align: right;
}

/* WORK STYLES END */

/* CONTACT STYLES START */

.contact-section {
    margin: 75px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-box2 {
    border-right: 3px solid;
    border-color: #022b3b;
    padding: 60px 10px 60px 0;
}

.contact-header {
    color: #9ac1b9;
    font-size: 30px;
    width: 80%;
}

/* CONTACT STYLES END */
